@use "../utils/mixin";
@use "../utils/variables" as v;

.badge {
  @include mixin.badge-base();

  color: v.$badge-c1;
}

.badge-completed {
  background-color: v.$completed;
}

.badge-ended {
  background-color: v.$ended;
}

.badge-active {
  background-color: v.$active;
}
