@use "../utilities/styles-forwarded" as forw;

.badge {
  @include forw.badge-base();

  color: forw.$badge-c1;
}

.badge-completed {
  background-color: forw.$completed;
}

.badge-ended {
  background-color: forw.$ended;
}

.badge-active {
  background-color: forw.$active;
}
