$color-primary-text: #888; //kebab-case
$color-blue-text: lightblue; //kebab-case

$colorPrimaryText: #888; //camel-case
$colorBlueText: lightblue; //camel-case

$color_primary_text: #888; //snake-case
$color_blue_text: lightblue; //snake-case
